{% load staticfiles %}
<div class="header" role="banner">
  <!--<div class="header__icon header__back">-->
    <!--<a href="{% url 'home' %}#/artists" class="icon-link">-->
      <!--Back-->
    <!--</a>-->
  <!--</div>-->
  <div class="header__heading serif-font">
    <a href="{% url 'home' %}#/artists">Experimental-Foundation</a>
  </div>
  <!--<div class="header__icon header__share">-->
    <!--&lt;!&ndash;<button class="header__share-button icon-button" aria-label="Share" data-ga-category="share" data-ga-action="modal-show" data-ga-label="viewer" data-modal-trigger="share">&ndash;&gt;-->
      <!--&lt;!&ndash;Share&ndash;&gt;-->
    <!--&lt;!&ndash;</button>&ndash;&gt;-->
  <!--</div>-->
  <!--{% include "includes/share-modal.html" %}-->
</div>
